@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html,
body {
  background-color: #eef3c9;
}

header {
  margin-bottom: 50px;
}

/* --------------------------------------------------- */
#screen {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  height: 90vh;
  width: 100%;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

#result {
  margin-top: 15px;
}

.grid {
  font-size: 20px;

  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #c9d955;

  border: 3px solid rgb(95, 95, 95);
}

.grid div {
  height: 40px;
  width: 40px;
}
.valid {
  height: 40px;
  width: 40px;
  border: 5px solid;
  /* border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db; */
  border-color: #8ea637 #548c1c #3e5915 #8ea637;
  box-sizing: border-box;
}

.bomb {
  height: 40px;
  width: 40px;
  border: 5px solid;
  border-color: #8ea637 #548c1c #3e5915 #8ea637;
  box-sizing: border-box;
}

.checked {
  height: 40px;
  width: 40px;
  border: 2px solid;
  background-color: #cfdd64;
  border-color: #8c593b;
  box-sizing: border-box;
}

.one {
  color: blue;
}

.two {
  color: red;
}

.three {
  color: green;
}
