@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
h3 {
  text-align: center;
}

#screen {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  height: 90vh;
  width: 100%;

  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

#result {
  margin-top: 15px;
}

.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: #656d7a;

  border: 3px solid rgb(95, 95, 95);
}

.grid div {
  height: 40px;
  width: 40px;
}
.valid {
  height: 40px;
  width: 40px;
  border: 5px solid;
  /* border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db; */
  border-color: #d9bba0 #a67c58 #8c593b #d9bba0;
  box-sizing: border-box;
}

.bomb {
  height: 40px;
  width: 40px;
  border: 5px solid;
  border-color: #d9bba0 #a67c58 #8c593b #d9bba0;
  box-sizing: border-box;
}

.checked {
  height: 40px;
  width: 40px;
  border: 2px solid;
  background-color: #d9bba0;
  border-color: #8c593b;
  box-sizing: border-box;
}

.one {
  color: blue;
}

.two {
  color: red;
}

.three {
  color: green;
}
